.stat_label {
  border: 0.1em solid black;
  margin: 0.1em;
  width: 3.5em;
  text-align: center;
}

.stat_number {
  border: 0.1em solid black;
  width: 3.5em;
  text-align: center;
}

.stat_mod {
  font-size: 0.9em;
  color: #6e6e6e;
}

.short_stat {
  font-size: 0.8em;
}

.stat_detailed {
  border: 0.1em solid black;
  width: 3.5em;
  text-align: center;
}

.label {
  font-weight: bold;
  font-size: 1.1em;
}

#skills {
  border: 0.1em solid black;
  width: 14em;
}

#skills td {
  padding: 0em 1em 0em 0.1em;
}

.skill_label {
  font-weight: bold;
}

.skill_value {
  text-align: right;
}

#saving_throws {
  border: 0.1em solid black;
  width: 14em;
  vertical-align: top;
}

#saving_throws td {
  padding: 0em 1em 0em 0.1em;
}

.throw_label {
  font-weight: bold;
}

.throw_value {
  text-align: right;
}

.ability_hint {
  font-size: 0.7em;
  color: #adadad;
}

#languages {
  border: 0.1em solid black;
  width: 14em;
  vertical-align: top;
}

.language_label {
  font-weight: bold;
}

#languages td {
  padding: 0em 0em 0em 1em;
}

td {
  vertical-align: top;
}

#long_stat {
  font-size: .66em;
}

#race {
  text-decoration: underline;
}

#background {
  text-decoration: underline;
}

#class {
  text-decoration: underline;
}

input {
  width: 2em;
}

#other_proficiencies {
  border: 0.1em solid black;
  width: 42em;
}

.inner_prof {
  border: 0.1em solid black;
}

#armor_proficiencies, #weapon_proficiencies, #tool_proficiencies, #cantrips, #first_level {
  width: 14em;
  float:left;  
}

#equipment {
  border: 0.1em solid black;
  float: left;
}

#spells {
  border: 0.1em solid black;
  width: 30em;
}

.inner_spells {
  border: 0.1em solid black;
  width: 50%;
}

#cantrips, #first_level {
  width: 8em;
}

#physical_info {
  width: 100%
}

#physical_info td {
  border: 0.1em solid black;
  text-align: center;
  width: 33%;
}

#age, #height, #weight {
  font-size: 1em;
}